@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}
html {
  scroll-behavior: smooth;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #10b981;
  --color-secondary: #94a3b8;
}
